<div class="well"><strong>Everybody</strong> can see this!</div>

<div class="alert alert-info" role-show="{{userRoles.businessAnalytics}}">You see this if your role is <strong>Business Analytics</strong>.</div>

<div class="alert alert-warning" role-show="{{userRoles.dataSteward}}">You see this if your role is <strong>Data Steward</strong>.</div>

<div class="alert alert-success" role-show="{{userRoles.businessAnalytics}},{{userRoles.dataSteward}}">You see this if your role is <strong>Business Analytics</strong> or <strong>Data Steward</strong>.</div>