<div class="well"><strong>Everybody</strong> can see this!</div>

<div class="alert alert-info" role-show="{{USER_ROLES.businessAnalyst}}">You see this if your role is <strong>Business Analyst</strong>.</div>

<div class="alert alert-warning" role-show="{{USER_ROLES.dataSteward}}">You see this if your role is <strong>Data Steward</strong>.</div>

<div class="alert alert-success" role-show="{{USER_ROLES.businessAnalyst}},{{USER_ROLES.dataSteward}}">You see this if your role is <strong>Business Analyst</strong> or <strong>Data Steward</strong>.</div>