<h2>Users</h2>

<!-- <br>

<form class="form" ng-submit="addOrUpdateContact()">
  <div class="form-group">
    <label class="sr-only" for="nom">Nom</label>
    <input class="form-control" type="text" id="nom" placeholder="Nom" ng-model="newUser.nom">
  </div>
  <div class="form-group">
    <label class="sr-only" for="prenom">Prénom</label>
    <input class="form-control" type="text" id="prenom" placeholder="Prénom" ng-model="newUser.prenom">
  </div>
  <div class="form-group">
    <label class="sr-only" for="prenom">Login</label>
    <input class="form-control" type="text" id="prenom" placeholder="Login" ng-model="newUser.login">
  </div>
  <div class="form-group">
    <label class="sr-only" for="prenom">Password</label>
    <input class="form-control" type="text" id="prenom" placeholder="Password" ng-model="newUser.password">
  </div>
  <button type="submit" class="btn btn-default">Créer Utilisateur</button>
</form>

<br> -->

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <!-- <th>Actions</th> -->
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td>{{user.nom}}</td>
      <td>{{user.prenom}}</td>
      <!-- <td>
        <span class="button glyphicon glyphicon-pencil" title="Éditer" ng-click="editContact(user); window.scrollTo(0, 0)"></span>
        <span class="button glyphicon glyphicon-remove" title="Supprimer" ng-click="removeContact(user)"></span>
      </td> -->
    </tr>
  </tbody>
</table>